.root{
    /*-fx-font-family: "Yu Gothic";*/
    -fx-font-size: 14px;
    -fx-text-fill: #f3c0f3;
    /*-fx-background-color: #513651;
    -fx-background-image: url("images/veg8.png");
    -fx-background-size: 216 316;
    -fx-background-position: 20, center;
    -fx-background-repeat: no-repeat;*/
}
.button
{
    -fx-background-color: #3f1e3f;
    -fx-background-radius: 20px;
    -fx-border-color: #b066e7;
    -fx-border-width: 5px;
    -fx-border-radius: 20px;
    -fx-text-alignment: center;
    -fx-text-fill: #f3c0f3;
}
#register{
    -fx-text-fill: #f3c0f3;
    -fx-background-color: #513651;
}
.text-field{
    -fx-prompt-text-fill: #f3c0f3;
    -fx-background-color: #B999B9;
    -fx-border-color: #ffffff;
}
.button:hover{
    -fx-border-color: #dfabff;
}