.root {
    -fx-background-color: #99FF99;
    -fx-font-size: 14px;
}
.button
{
    -fx-background-color: #18B356;
    -fx-background-radius: 20px;
    -fx-border-color: #067030;
    -fx-border-width: 5px;
    -fx-border-radius: 20px;
    -fx-text-alignment: center;
    -fx-text-fill: #060606;
}
#register{
    -fx-text-fill: #15711d;
    -fx-background-color: #99FF99;
}
.text-field{
    -fx-background-color: #ccffcc;
    -fx-border-color: #9d9d9d;
}
.button:hover{
    -fx-border-color: #10a11d;
}
