.root{
    -fx-font-family: "Yu Gothic";
    -fx-font-size: 14px;
    -fx-background-color: #99FF99;
    -fx-background-image: url("images/veg5.png");
    -fx-background-position: left bottom, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 300 350 ;
}
.button
{
    -fx-background-color: #18B356;
    -fx-text-alignment: center;
    -fx-text-fill: #060606;
}
.text-field{
    -fx-background-color: #ccffcc;
    -fx-border-color: #ffffff;
}