.pane{
    -fx-background-color: #ee5e5e;
}

.button{
    -fx-background-color: #8ff68f;
    -fx-background-radius: 20px;
}

.button:hover{
    -fx-background-color: #06641a;
    -fx-background-radius: 400px;
}